@use "util";
@use "queries";
@use "fluid-typography";
@forward "gallery-layout";

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    @include util.headerSizing(border-box, 25px 0, 25px 0);
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.15);

    &__title-container {
        display: block;

        h1 {
            width: 100%;
        }
    }
}

.main {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    flex-grow: 1;
}

.artwork {
    box-sizing: border-box;

    &__grid {
        @include util.grid(
            repeat(auto-fit, minmax(min(100%, 250px), 1fr)),
            50px
        );
        @include util.bodySizing(1400px, 3rem auto 7rem auto);

        @include queries.respond("1400px") {
            max-width: none;
        }

        @include queries.respond("1290px") {
            max-width: none;
            padding-left: fluid-typography.fluid(1.5rem, 2rem, 20rem, 87.5rem);
            padding-right: fluid-typography.fluid(1.5rem, 2rem, 20rem, 87.5rem);
        }

        @include queries.respond("562px") {
            gap: 100px;
        }
    }
}

.footer {
    display: block;
    margin: 5rem 0 1.5rem 0;

    &__info {
        margin: 0 0 -2rem 0;
    }

    &__text {
        margin: 40px 20px;
    }
}
