.header--secondary {
  box-sizing: border-box;
  margin: 25px 0;
  padding: 33px 0;
}
.header--secondary .header__title-container {
  margin: 0 25px;
}
.header--secondary .header__title-container h1 {
  text-align: start;
}

.gallery {
  margin: 100px 0;
}
.gallery__img-container {
  width: 40%;
  margin: 0 auto;
}
.gallery__info {
  max-width: 900px;
  margin: 2rem auto 3rem auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  box-sizing: border-box;
  margin: 25px 0;
  padding: 25px 0;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.15);
}
.header__title-container {
  display: block;
  width: 40%;
  margin: 0 auto;
}
.header__title-container h1 {
  width: 100%;
}

.main {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  flex-grow: 1;
}

.artwork {
  box-sizing: border-box;
}
.artwork__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
  gap: 50px;
  max-width: 1400px;
  margin: 3rem auto 7rem auto;
}

.footer {
  display: block;
  margin: 5rem 0 0 0;
}
.footer__info {
  margin: 0 0 -2rem 0;
}
.footer__text {
  margin: 40px 20px;
}

.header--secondary {
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.15);
}
.header--secondary .header__title-container h1 {
  font-size: 2rem;
}
.header--secondary .header__title-container h1 a {
  text-decoration: none;
  color: #000;
}
.header--secondary .header__title-container span {
  color: #000;
  background-color: #fff;
  padding: 14px 14px 4px 8px;
  border: 2px solid #000;
}

.gallery__img {
  width: 100%;
  object-fit: contain;
}
.gallery__title {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8rem;
}
.gallery__artist {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}
.gallery__description {
  line-height: 2rem;
  font-size: 0.9rem;
  text-align: justify;
}
.gallery__description :nth-child(2) {
  margin-top: 1rem;
}
.gallery__description p a {
  text-decoration: none;
  font-size: 1rem;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: #333;
  font-weight: 600;
}

body {
  font-family: "Libre Baskerville", "Times New Roman", Helvetica, Arial, sans-serif;
  color: #333;
}

.header__title-container h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}
.header__title-container span {
  display: inline-block;
  background-color: #e61f20;
  color: #fff;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-style: normal;
  padding: 14px 14px;
  font-weight: 200;
}

.artwork__link {
  text-decoration: none;
}
.artwork__card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.artwork__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.artwork__text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.artwork__title {
  color: #333;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.artwork__text {
  color: #6c757d;
  font-size: 0.9rem;
  font-style: italic;
  line-height: 1.2rem;
}

.footer__text {
  font-size: 0.7rem;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
